.dialogForm_title {
  text-align: center;
}

.api_list_add {
  text-align: right;
  margin-bottom: 20px;
}

.api_list {
  width: 90%;
  margin: 0 auto;
}

.list-expand{
  box-sizing: border-box;
  .el-form-item__label{
    width: 90px;
    color: #99a9bf;
  }
  .el-form-item{
    width: 100%;
    margin: 0;
  }
}
