//相应拦截编辑框
.resEditor {
  .dialogForm_title {
    margin-bottom: 20px;
  }

  .dialogForm_body {
    width: 90%;
    margin: 0 auto;
    text-align: left;
    .el-form-item__label {
      text-align: center;
    }
  }

  .json_editor_group {
    text-align: center;
    padding-top: 20px;
  }

  .json_editor {
    height: 400px;
    width: 90%;
    margin: 0 auto;
    text-align: left;
  }
}

//请求拦截编辑框
.reqEditor {
  .dialogForm_title {
    margin-bottom: 20px;
  }

  .dialogForm_body {
    width: 90%;
    margin: 0 auto;
    text-align: left;
    .el-form-item__label {
      text-align: center;
    }
  }

  .reqData_body {
    width: 90%;
    padding: 20px;
    margin: 0 auto;
    .reqData_item {
      zoom: 1;
      padding-bottom: 2px;
      &:after, &:before {
        clear: both;
        content: '.';
        display: block;
        width: 0;
        height: 0;
        visibility: hidden;
      }
    }
  }

  .json_editor_group {
    text-align: center;
    padding-top: 20px;
  }

  .json_editor {
    height: 400px;
    width: 90%;
    margin: 0 auto;
    text-align: left;
  }
}
