.guide-main {
  overflow: auto;
  position: relative;
  display: inline-block;
  left: 50%;
  transform: translate(-50%, 0);
  .guide-step {
    position: relative;
    left: 50%;
    display: inline-block;
    margin-left: -238px;
    margin-bottom: 50px;
    margin-top: 50px;
  }
  .step-img {
    width: 1000px;
    border-radius: 5px;
  }
  .step-a {
    text-decoration: none;
    color: #1D8CE0;
  }
  .guide-description {
    .description {
      margin-bottom: 20px;
    }
  }
}
