//左右分栏 Flex 布局
.main_page {
  display: flex;
  height: inherit;
  .menu_left {
    width: 180px;
    box-shadow: 0 5px 5px #ccc;
    height: 100%;
    background: #324157;
    transition: all .3s ease;
    .div-item {
      color: #fff;
      height: 60px;
      text-align: center;
      line-height: 60px;
      background: #1D8CE0;
      cursor: pointer;
    }
    ul {
      .list_title {
        position: absolute;
        left: 70px;
        opacity: 1;
        visibility: visible;
        transition: all .3s ease;
      }
      &.menu_small {
        li {
          .list_title {
            opacity: 0;
            visibility: hidden;
          }
          text-align: center;
          padding-left: 10px;
        }
      }
      padding: 0;
      margin: 0;
      a {
        text-decoration: none;
      }
      li {
        .icon-li {
          padding-right: 10px;
        }
        &:hover, &.zel {
          background: darken(#324157, 5%);
          color: #fff;
        }
        color: #a8adaf;
        cursor: pointer;
        padding-left: 40px;
        height: 50px;
        line-height: 50px;
        font-size: 14px;
        list-style: none;
      }
    }
  }
  .view-page {
    flex: 1;
    z-index: 1;
    .main_content {
      padding: 30px 20px;
      overflow: auto;
      height: calc(100% - 120px);
    }
  }
}

